{% extends 'get_slides/base.html' %}

{% block content %}

    <h2 class="title">Slides from video</h2>

    <style>
        .myForm {
            min-width: 100%;
            position: absolute;
            text-align: center;
            top: 38%;
            left: 0;
            transform: translate(0, -38%);
        }

        @media (max-width: 500px) {
            .myForm {
                min-width: 90%;
                width: 90%;
            }

        }
    </style>
    <div class="myForm">
        <div class="form-signin d-flex justify-content-center mb-6 ">

        <form method="post">
            <label for="urlInput" class="form-label">Youtube URL</label>
            <input type="text" class="form-control" id="urlInput" name="urlInput">
            <p></p>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        </div>
    </div>
    <p>10 min video needs about 2 min for processing</p>
    <p>example: https://www.youtube.com/watch?v=y6gTsj6okHE</p>
    <p> https://www.youtube.com/watch?v=pzLyzwBdqck</p>

    <br>
    {{ error|safe }}

{% endblock %}