
{% block content %}
<div class="col">
    <div class="card shadow-sm">
        <img class="card-img-top border-bottom"
             src=/{{ slide_img }}
             alt={{ slide_text }}>
        <div class="card-body text-truncate" style="max-height: 400px">
            <p class="card-text" style="white-space: pre-line">{{ slide_text }}</p>

            <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">00:01</small>
            </div>
        </div>
    </div>
</div>


{% endblock %}
