<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="author" content="eakotelnikov"/>
    <meta
            name="description"
            content="template of project"
    />
    <title>Template title</title>
    <link rel="icon" href="http://milligram.io/images/icon.png"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" href="https://milligram.io/styles/main.css"/>
</head>
<body>
<main class="wrapper">
    <nav class="navigation">
        <section class="container">
            <a class="navigation-title" href="">
                <h1 class="title">Template</h1>
            </a>
            <ul class="navigation-list float-right">
                <li class="navigation-item">
                    <a class="navigation-link" href="#popover-grid" data-popover>
                        Content
                    </a>
                    <div class="popover" id="popover-grid">
                        <ul class="popover-list">
                            <li class="popover-item">
                                <a class="popover-link" href="#par1" title="Paragraph 1" >
                                    Paragraph 1
                                </a>
                            </li>
                            <li class="popover-item">
                                <a class="popover-link" href="#par2" title="Paragraph 2" >
                                    Paragraph 2
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </section>
    </nav>

    <section class="container">
        <h2 class="title">Template header</h2>
        <p>template text text text</p>
    </section>

</main>

<script src="https://milligram.io/scripts/main.js"></script>
</body>
</html>
